<div class="game">
    {#each Array.from({length: 10}) as row, y} {#each Array.from({length: 10}) as col, x}
    <div class="cell pos{x}_{y}"></div>
    {/each} {/each}
</div>

<style>
    .game {
        height: 80vmin;
        width: 80vmin;
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate3d(-50%, -50%, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .cell {
        width: 6.5vmin;
        height: 6.5vmin;
        margin: .5vmin;
        border: 1px solid #333;
    }

    .cell.body {
        background: green;
    }

    .cell.berry {
        background: red;
        border-radius: 50%;
    }

    .cell.berry.body {
        background: cyan !important;
    }
</style>

<script>
    import GameStore from './GameStore.js';

    export default {
        oncreate() {
            GameStore.on('state', ({ changed, current, previous }) => {
                if (changed.body) {
                    (previous.body || []).forEach(point => this.removeClass(point, 'body'));
                    current.body.forEach(point => this.addClass(point, 'body'));
                }

                if (changed.berry) {
                    if (previous.berry) {
                        this.removeClass(previous.berry, 'berry');
                    }

                    this.addClass(current.berry, 'berry');
                }
            });
        },
        methods: {
            addClass(point, className) {
                document.querySelector(`.pos${point.x}_${point.y}`).classList.add(className);
            },
            removeClass(point, className) {
                document.querySelector(`.pos${point.x}_${point.y}`).classList.remove(className);
            }
        }
    }

</script>