<dialog id="configDialog" class="mdl-dialog">
    <h4 class="mdl-dialog__title">Snake Config</h4>
    <div class="mdl-dialog__content">
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input autocomplete="off" bind:value=controller class="mdl-textfield__input" type="text" id="config_controller">
                <label class="mdl-textfield__label" for="config_controller">Controller</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input autocomplete="off" bind:value=seed class="mdl-textfield__input" type="text" id="config_seed">
                <label class="mdl-textfield__label" for="config_seed">Seed</label>
            </div>
        </form>
    </div>
    <div class="mdl-dialog__actions">
        <button on:click="submit()" type="button" class="mdl-button">Submit</button>
        <button on:click="close()" type="button" class="mdl-button">Close</button>
    </div>
</dialog>

<script>
    import ConfigMenuService from './ConfigMenuService.js';
    import GameStore from '../Game/GameStore.js';

    export default {
        data() {
            return {
                controller: '',
                seed: '',
            }
        },
        oncreate() {
            this.dialog = document.querySelector('#configDialog');
            ConfigMenuService.addListener((isVisible) => {
                if (isVisible) {
                    this.dialog.showModal();
                } else {
                    this.dialog.close();
                }
            });
        },
        methods: {
            close() {
                this.dialog.close();
            },
            submit() {
                this.close();
                GameStore.set({ config: this.get() });
            }
        }
    }

</script>