<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<script>
    import SnackStore from './SnackStore.js';

    export default {
        store: () => SnackStore,
        oncreate() {
            this.store.on('state', ({ current }) => {
                if (current.message) {
                    this.toast(current.message);
                }
            });
        },
        methods: {
            toast(message) {
                const snackbar = document.querySelector('#snackbar');
                const data = {
                    timeout: 2000,
                    message,
                };
                snackbar.MaterialSnackbar.showSnackbar(data);
            }
        }
    }

</script>