<button on:click="openConfig()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">settings</i>
</button>
<SnackBar/>
<ConfigMenu/>
<Game/>

<style>
	button {
		position: fixed;
		top: 1.5rem;
		left: 1.5rem;
	}
</style>

<script>
	import SnackBar from './Snack/SnackBar.html';
	import ConfigMenu from './ConfigMenu/ConfigMenu.html';
	import ConfigMenuService from './ConfigMenu/ConfigMenuService.js';
	import Game from './Game/Game.html';

	export default {
		components: {
			SnackBar,
			ConfigMenu,
			Game,
		},
		methods: {
			openConfig() {
				ConfigMenuService.show();
			}
		}
	}

</script>